<html>

<head>
	<script src="https://auth.mobilians.co.kr/js/ext/ext_inc_comm.js"></script>
	<script language="javascript">

		function payRequest() {
			//아래와 같이 ext_inc_comm.js에 선언되어 있는 함수를 호출		
			MCASH_PAYMENT(document.payForm);
		}
	</script>

</head>

<body>

	<form name="payForm" accept-charset='euc-kr'>

		<table border="1" width="100%">
			<tr>
				<td align="center" colspan="6">
					<font size="15pt"><b>휴대폰본인확인 SAMPLE PAGE</b>
				</td>
			</tr>

			<tr>
				<td align="center">대표결제수단</td>
				<td align="center">CASH_GB</td>
				<td><input type="text" name="CASH_GB" id="CASH_GB" value="<%= data.CASH_GB %>"></td>
				<td align="center">서비스아이디</td>
				<td align="center">CI_SVCID</td>
				<td><input type="text" name="CI_SVCID" id="CI_SVCID" value="<%= data.CI_SVCID %>"></td>
			</tr>

			<tr>
				<td align="center">암호화사용여부</td>
				<td align="center">Cryptyn</td>
				<td><input type="text" name="Cryptyn" id="Cryptyn" value="<%= data.Cryptyn %>"></td>
				<td align="center">암호화Key구분</td>
				<td align="center">Keygb</td>
				<td><input type="text" name="Keygb" id="Keygb" value="<%= data.Keygb %>"></td>
			</tr>

			<tr>
				<td align="center">결제창 호출방식</td>
				<td align="center">CALL_TYPE</td>
				<td><input type="text" name="CALL_TYPE" id="CALL_TYPE" value="<%= data.CALL_TYPE %>"></td>
				<td align="center">가맹점 로고 사용여부</td>
				<td align="center">LOGO_YN</td>
				<td><input type="text" name="LOGO_YN" id="LOGO_YN" value="<%= data.LOGO_YN %>"></td>
			</tr>

			<tr>
				<td align="center">결제단계구분</td>
				<td align="center">CI_Mode</td>
				<td><input type="text" name="CI_Mode" id="CI_Mode" value="<%= data.CI_Mode %>"></td>
				<td align="center">DI웹사이트코드</td>
				<td align="center">DI_CODE</td>
				<td><input type="text" name="DI_CODE" id="DI_CODE" value="<%= data.DI_CODE %>"></td>
			</tr>
			<tr>
				<td align="center">가맹점도메인</td>
				<td align="center">Siteurl</td>
				<td><input type="text" name="Siteurl" id="Siteurl" value="<%= data.Siteurl %>"></td>
				<td align="center">SUB대행사식별</td>
				<td align="center">SUB_CPID</td>
				<td><input type="text" name="SUB_CPID" id="SUB_CPID" value="<%= data.SUB_CPID %>"></td>
			</tr>
			<tr>
				<td align="center">발신번호</td>
				<td align="center">Callback</td>
				<td><input type="text" name="Callback" id="Callback" size="30" value="<%= data.Callback %>"></td>
				<td align="center">SMS문구</td>
				<td align="center">Smstext</td>
				<td><input type="text" name="Smstext" id="Smstext" size="30" value="<%= data.Smstext %>"></td>
			</tr>
			<tr>
				<td align="center">LMS제목</td>
				<td align="center">Lmstitle</td>
				<td><input type="text" name="Lmstitle" id="Lmstitle" size="40" value="<%= data.Lmstitle %>"></td>
				<td align="center">LMS본문</td>
				<td align="center">Lmstext</td>
				<td><textarea name="Lmstext" id="Lmstext" rows="6" value="<%= data.Lmstext %>"></textarea></td>
			</tr>
			<tr>
				<td align="center">가맹점거래번호</td>
				<td align="center">Tradeid</td>
				<td><input type="text" name="Tradeid" id="Tradeid" size="30" value="<%= data.Tradeid %>"></td>
				<td align="center">거래종류</td>
				<td align="center">PAY_MODE</td>
				<td>
					<select name="PAY_MODE">
						<option value="10">실서버(10)</option>
						<option value="00">테스트(00)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="center">성공URL</td>
				<td align="center">*Okurl</td>
				<td><input type="text" name="Okurl" id="Okurl" size="30" value="<%= data.Okurl %>"></td>
				<td align="center">Okurl암호화</td>
				<td align="center">Cryptokurl</td>
				<td>
					<select name="Cryptokurl" id="Cryptokurl">
						<option value="Y">사용</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="center">인증요청결과URL</td>
				<td align="center">Notiurl</td>
				<td><input type="text" name="Notiurl" id="Notiurl" size="30" value="<%= data.Notiurl %>"></td>
				<td align="center">Closeurl</td>
				<td align="center">Closeurl</td>
				<td><input type="text" name="Closeurl" id="Closeurl" size="30" value="<%= data.Closeurl %>"></td>
			</tr>
			<tr>
				<td align="center">이통사고정</td>
				<td align="center">CI_FIXCOMMID</td>
				<td>
					<select name="CI_FIXCOMMID" id="CI_FIXCOMMID">
						<option value="">사용안함</option>
						<option value="SKT">SKT</option>
						<option value="KTF">KTF</option>
						<option value="LGT">LGT</option>
						<option value="SKR">SKT알뜰폰</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="6"> </td>
			</tr>
			<tr>
				<td align="center" colspan="6"><input type="button" value="인증하기" onclick="payRequest()"></td>
			</tr>
		</table>

	</form>
</body>

</html>