<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<title>가맹점 OKURL 모빌리언스 휴대폰본인확인</title>
</head>

<body>
	<h1>인증결과</h1>
	<table border="1" width="100%">
		<tr>
			<td><strong style="color:#ff0000">result</strong></td>
			<td><strong style="color:#ff0000">
					<%= data.result %>
				</strong></td>
		</tr>
		<tr>
			<td>Cryptyn</td>
			<td>
				<%= data.Cryptyn %>
			</td>
		</tr>
		<tr>
			<td>Keygb</td>
			<td>
				<%= data.Keygb %>
			</td>
		</tr>
		<tr>
			<td>Svcid</td>
			<td>
				<%= data.Svcid %>
			</td>
		</tr>
		<tr>
			<td>Mobilid</td>
			<td>
				<%= data.Mobilid %>
			</td>
		</tr>
		<tr>
			<td>Signdate</td>
			<td>
				<%= data.Signdate %>
			</td>
		</tr>
		<tr>
			<td>Tradeid</td>
			<td>
				<%= data.Tradeid %>
			</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>
				<%= data.Name %>
			</td>
		</tr>
		<tr>
			<td>No</td>
			<td>
				<%= data.No %>
			</td>
		</tr>
		<tr>
			<td>Commid</td>
			<td>
				<%= data.Commid %>
			</td>
		</tr>
		<tr>
			<td>Resultcd</td>
			<td>
				<%= data.Resultcd %>
			</td>
		</tr>
		<tr>
			<td>Resultmsg</td>
			<td>
				<%= data.Resultmsg %>
			</td>
		</tr>
		<tr>
			<td>Socialno</td>
			<td>
				<%= data.Socialno %>
			</td>
		</tr>
		<tr>
			<td>Sex</td>
			<td>
				<%= data.Sex %>
			</td>
		</tr>
		<tr>
			<td>Foreigner</td>
			<td>
				<%= data.Foreigner %>
			</td>
		</tr>
		<tr>
			<td>Ci</td>
			<td>
				<%= data.Ci %>
			</td>
		</tr>
		<tr>
			<td>Di</td>
			<td>
				<%= data.Di %>
			</td>
		</tr>
		<tr>
			<td>CI_Mode</td>
			<td>
				<%= data.CI_Mode %>
			</td>
		</tr>
		<tr>
			<td>DI_Code</td>
			<td>
				<%= data.DI_Code %>
			</td>
		</tr>
		<tr>
			<td>Mac</td>
			<td>
				<%= data.Mac %>
			</td>
		</tr>
		<tr>
			<td>sha</td>
			<td>
				<%= data.sha %>
			</td>
		</tr>
		<tr>
			<td>MSTR</td>
			<td>
				<%= data.MSTR %>
			</td>
		</tr>
	</table>
</body>

</html